{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <p class="card-category">Registered Users</p>
            <h3 class="card-title">{{count}}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">manage_accounts</i>
            </div>
            <p class="card-category">Admin Users</p>
            <h3 class="card-title">{{staff}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_off</i>
            </div>
            <p class="card-category">Users account inactive</p>
            <h3 class="card-title">{{inactive}}</h3>
          </div>
        </div>
      </div>
    </div>
 
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Users Stats</h4>
            <p class="card-category">List of registered users</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Nº</th>
                <th>Username</th>
                <th class="text-center">Email</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Account Inactive</th>
              </thead>
              <tbody>
                {% for u in list_users %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{u.username}}</td>
                  <td class="text-center">{{u.email}}</td>
                  <td class="text-center text-success">{% if u.is_staff %}<i class="material-icons">check_box</i>{% endif %}</td>
                  <td class="text-center text-danger">{% if not u.is_active %}<i class="material-icons">check_box</i>{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
